<!DOCTYPE html>
<html>
<head>
<%
    include("/static/include/title.html"){}
    include("/static/include/css.html"){}
    include("/static/include/js.html"){}
%>
</head>
<body>
<div class="layui-fluid">
	<form id="fView" class="layui-form" onsubmit="return false" action="##">
		<input type="hidden" id="dialogId" name="dialogId" value="${parameter.dialogId}"/>
  		<div class="layui-card">
			<!-- 如需要header信息，放开下面的comment -->
			<!-- <div class="layui-card-header">基础信息</div> -->
			<div class="layui-card-body" style="padding: 15px;">
				<!-- 如一行显示多列数据，参照下面的示例 -->
				<!--
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">属性1：</label>
						<div class="layui-input-inline">属性1对应数值</div>
					</div>对应控件
					<div class="layui-inline">
						<label class="layui-form-label">属性2：</label>
						<div class="layui-input-inline">属性1对应数值</div>
					</div>
				</div>
				-->
				<div class="layui-form-item">
					<label class="layui-form-label">父组织：</label>
					<div class="layui-input-inline layui-form-mid">${organization.parent.organizationName}</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">组织名称：</label>
					<div class="layui-input-inline layui-form-mid">
						${@team.bangbang.common.utility.LogicUtility.getHTMLString(organization.organizationName)}
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">类型：</label>
						<div class="layui-input-inline layui-form-mid">
							${organization.typeName}
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">组织编码：</label>
						<div class="layui-input-inline layui-form-mid">
							${organization.organizationCode}
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">简称：</label>
						<div class="layui-input-inline layui-form-mid">
							${@team.bangbang.common.utility.LogicUtility.getHTMLString(organization.briefName)}
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">有效标识：</label>
						<div class="layui-input-inline layui-form-mid">
							<% if(organization.activeFlag != null && organization.activeFlag) {%>有效<%}%>
							<% if(organization.activeFlag == null || !organization.activeFlag) {%>无效<%}%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</body>
<script>
	layui.use(['form'], function(){
        var form  = layui.form;
        // 渲染表单radio、select、checkbox
        form.render();
    });
</script>
</html>
