<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
*******************************************************************************
*
* ！！！！除非设计、指导人员有特别说明，否则此处不得随意增加、修改、删除！！！！
* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
*		
*******************************************************************************
-->
<mapper namespace="cn.js.icode.system.mapper.UserRoleMapper">
    <!-- 查询账户具有的角色信息 -->
    <!-- 查询单条账户具有的角色信息 -->
    <select id="getObject" resultType="cn.js.icode.system.data.UserRole">
        SELECT
        Id, UserId, RoleId
        FROM system_user_role
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="where != null and where.id != null">
                    Id = #{where.id}
                </when>
                <otherwise>
                    <if test="where != null and where.userId != null">
                        AND UserId = #{where.userId}
                    </if>
                    <if test="where != null and where.roleId != null">
                        AND RoleId = #{where.roleId}
                    </if>
                    <if test="appendix != null and appendix != ''">
                        AND ${appendix}
                    </if>
                </otherwise>
            </choose>
        </trim>
        ORDER BY Id DESC limit 0, 1
    </select>
    <!-- 查询多条账户具有的角色信息 -->
    <select id="list" resultType="cn.js.icode.system.data.UserRole">
        SELECT
        Id, UserId, RoleId
        FROM system_user_role
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="where != null and where.id != null">
                    Id = #{where.id}
                </when>
                <otherwise>
                    <if test="where != null and where.userId != null">
                        AND UserId = #{where.userId}
                    </if>
                    <if test="where != null and where.roleId != null">
                        AND RoleId = #{where.roleId}
                    </if>
                    <if test="appendix != null and appendix != ''">
                        AND ${appendix}
                    </if>
                </otherwise>
            </choose>
        </trim>
        ORDER BY Id DESC
        <if test="pagination != null">
        limit #{pagination.startPosition}, #{pagination.maxResults}
        </if>
    </select>
	<!-- 查询符合条件的记录数量 -->
    <select id="count" resultType="int">
        SELECT
        count(1)
        FROM system_user_role
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="where != null and where.id != null">
                    Id = #{where.id}
                </when>
                <otherwise>
                    <if test="where != null and where.userId != null">
                        AND UserId = #{where.userId}
                    </if>
                    <if test="where != null and where.roleId != null">
                        AND RoleId = #{where.roleId}
                    </if>
                    <if test="appendix != null and appendix != ''">
                        AND ${appendix}
                    </if>
                </otherwise>
            </choose>
        </trim>
    </select>
    <!-- 新增会员 -->
    <insert id="insert">
        INSERT INTO system_user_role(Id, UserId, RoleId)
        VALUES (
        #{data.id},
		#{data.userId},
		#{data.roleId}
        )
    </insert>
    <!-- 修改会员 -->
    <update id="update">
        UPDATE system_user_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="data.id != null">
                Id = #{data.id},
            </if>
			<if test="data.userId != null">
				UserId = #{data.userId},
			</if>
			<if test="data.roleId != null">
				RoleId = #{data.roleId},
			</if>
        </trim>
        <trim prefix="where" prefixOverrides="AND|OR">
            <choose>
                <when test="where != null and where.id != null">
                    Id = #{where.id}
                </when>
                <otherwise>
                    <if test="where != null and where.userId != null">
                        AND UserId = #{where.userId}
                    </if>
                    <if test="where != null and where.roleId != null">
                        AND RoleId = #{where.roleId}
                    </if>
                    <if test="appendix != null and appendix != ''">
                        AND ${appendix}
                    </if>
                </otherwise>
            </choose>
        </trim>
    </update>
    <!-- 删除账户具有的角色信息 -->
    <delete id="delete">
        DELETE FROM system_user_role
        <trim prefix="where" prefixOverrides="AND|OR">
            <choose>
                <when test="where != null and where.id != null">
                    Id = #{where.id}
                </when>
                <otherwise>
                    <if test="where != null and where.userId != null">
                        AND UserId = #{where.userId}
                    </if>
                    <if test="where != null and where.roleId != null">
                        AND RoleId = #{where.roleId}
                    </if>
                    <if test="appendix != null and appendix != ''">
                        AND ${appendix}
                    </if>
                </otherwise>
            </choose>
        </trim>
    </delete>
</mapper>