<!DOCTYPE html>
<html>
<head>
<%
    include("/static/include/title.html"){}
    include("/static/include/css.html"){}
    include("/static/include/js.html"){}
%>
</head>

<body>
<div class="layui-fluid">
	<form id="fView" class="layui-form" onsubmit="return false" action="##">
		<input type="hidden" id="dialogId" name="dialogId" value="${parameter.dialogId}"/>
		
  		<div class="layui-card">
			<!-- 如需要header信息，放开下面的comment -->
			<!-- <div class="layui-card-header">基础信息</div> -->
			<div class="layui-card-body" style="padding: 15px;">
				<!-- 如一行显示多列数据，参照下面的示例 -->
				<!-- 
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">属性1：</label>
						<div class="layui-input-inline">属性1对应数值</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">属性2：</label>
						<div class="layui-input-inline">属性1对应数值</div>
					</div>
				</div>
				-->

				<div class="layui-form-item">
					<label class="layui-form-label" style="width:170px;">数据库配置：</label>
					<div style="width:460px;" class="layui-input-inline layui-form-mid">${warningConfig.dbAlias}</div>
				</div>
	  
				<div class="layui-form-item">
					<label class="layui-form-label" style="width:170px;">提醒信息格式：</label>
					<div class="layui-input-inline layui-form-mid" style="width:460px;">${@team.bangbang.common.utility.LogicUtility.getHTMLString(warningConfig.tip)}</div>
				</div>
	  
				<div class="layui-form-item">
					<label class="layui-form-label" style="width:170px;">关联菜单：</label>
					<div class="layui-input-inline layui-form-mid" style="width:460px;">${warningConfig.menuId}</div>
				</div>
	  
				<div class="layui-form-item">
					<label class="layui-form-label" style="width:170px;">统计查询的SQL语句：</label>
				</div>
                <div class="layui-form-item">
                    <div class="layui-input-inline layui-form-mid" style="width: 96%;margin-left: 3%;height: 200px;">${@team.bangbang.common.utility.LogicUtility.getHTMLString(warningConfig.querySql)}</div>
                </div>
	  
			</div>
		</div>
	</form>
</div>
</body>
<script>
	layui.use(['form'], function(){
        var form  = layui.form;
        
        // 渲染表单radio、select、checkbox
        form.render();
    });
</script>
</html>
